.section {
	padding: 0 1rem 0.5rem;
}

@media (min-width: 640px) {
	.section {
		padding: 0 1.5rem 0.5rem;
	}
}

@media (min-width: 1024px) {
	.section {
		padding: 0 2rem 0.5rem;
	}
}

.container {
	max-width: 80rem;
	margin: 0 auto;
}

.list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 0.4rem;
}

@media (max-width: 639px) {
	.list {
		width: 100%;
	}

	.list > * {
		flex: 1 1 0;
		justify-content: center;
    }
}