.pill {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.75rem;
    color: #525252;
    border: 1.4px solid #cecece;
    padding: 0.3rem 1rem;
    border-radius: 14px;
    font-size: 1rem;
    font-weight: 500;
    white-space: nowrap;
}

.icon {
    color: #525252;
    background: #f2f2f2;
    border-radius: 999px;
    padding: 0.4rem;
    box-sizing: content-box;
    border: 1px solid var(--accent-color-soft);
}

.pillHighlight {
    /* background: #40a369; */
    border-color: var(--accent-color);
}
.iconHighlight {
    color: var(--accent-color);
    background: var(--accent-color-soft);
}
