.section {
    padding: 0.35rem 1.25rem 0.25rem;
}

@media (min-width: 640px) {
    .section {
        padding: 0.35rem 1.5rem 0.5rem;
    }
}

@media (min-width: 1024px) {
    .section {
        padding: 0.35rem 2rem 0.5rem;
    }
}

.container {
    max-width: 80rem;
    margin: 0 auto;
}

.title {
    font-size: clamp(1.3rem, 1.2vw + 1.2rem, 2.2rem);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #171717;
    margin-bottom: 0;
    letter-spacing: -0.02em;
}

.location {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #525252;
    margin-top: 0.05rem;
    margin-bottom: 1rem;
}

@media (min-width: 640px) {
    .title {
        margin-bottom: 0;
    }

    .location {
        margin-bottom: 1.5rem;
    }
}
