.highlightsRow {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.highlightPill {
  padding: 0.25rem 0.75rem;
  background: #f1f5f9;
  color: #334155;
  font-size: 0.95rem;
  /* border-radius: 14px; */
  font-family: inherit;
  font-weight: 500;
  /* display: inline-block; */
  display: flex;
  align-items: center;
}

@media (max-width: 900px) {
    .highlightsRow {
        margin-bottom: 0.5rem;
    }
}
