.page {
  min-height: 100vh;
  padding-top: 0;
}

:global(.header) {
  background: transparent !important;
  border-bottom: none !important;
  backdrop-filter: none !important;
}

:global(.transparent-header) header {
  background: transparent !important;
  border-bottom: none !important;
  backdrop-filter: none !important;
}
