.pill {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.75rem;
    color: #525252;
    border: 1.4px solid #cecece;
    padding: 0.4rem 1rem;
    border-radius: 14px;
    font-size: 1rem;
    font-weight: 500;
    white-space: nowrap;
}

@media (max-width: 600px) {
    .pill,
    .pillHighlight {
        gap: 0.3rem !important;
    }
}

.icon {
    color: #525252;
    background: #f2f2f2;
    border-radius: 999px;
    padding: 0.4rem;
    box-sizing: content-box;
    border: 1px solid var(--accent-color-soft);
}

.pillHighlight {
   background:#f1f5f9;
   color: #334155
}

@keyframes pillShine {
    0% {
        left: -60%;
    }
    60% {
        left: 110%;
    }
    100% {
        left: 110%;
    }
}

.iconHighlight {
    color: #334155;
    background: #f1f5f9;

}