.pill {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.75rem;
    color: #171717;
    border: 2px solid var(--accent-color-soft);
    padding: 0.4rem 0.7rem;
    border-radius: 12px;
    font-size: 1rem;
    font-weight: 600;
    white-space: nowrap;
}

@media (max-width: 639px) {
    .pill {
        width: 100%;
        justify-content: flex-start;
    }
}

@media (max-width: 600px) {

    .pill,
    .pillHighlight {
        gap: 0.3rem !important;
    }
}

.icon {
    color: #525252;
    background: var(--accent-color-soft);
    border-radius: 999px;
    padding: 0.4rem;
    box-sizing: content-box;
    border: 2px solid var(--accent-color-soft);
}

.pillHighlight {
    /* background: #e9f6e0; */
    color: #334155;
    border-color: #6b7c99;
}

@keyframes pillShine {
    0% {
        left: -60%;
    }

    60% {
        left: 110%;
    }

    100% {
        left: 110%;
    }
}

.iconHighlight {
    color: #334155;
    background: #e9f6e0;
    border: 1px solid #e9f6e0;

}