.section {
    padding: 0 1rem 0.5rem;
}

@media (min-width: 640px) {
    .section {
        padding: 0 1.5rem 0.5rem;
    }
}

@media (min-width: 1024px) {
    .section {
        padding: 0 2rem 0.5rem;
    }
}

.container {
    /* max-width: 80rem; */
    margin: 0 auto;
    overflow-x: scroll;
}

.list {
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* align-items: center; */
    gap: 0.75rem;
}

.item {
    display: inline-flex;
    align-items: center;
    gap: 0.75rem;
    color: #525252;
    border: 1px solid #e5e5e5;
    padding: 0.5rem 0.75rem;
    border-radius: 0.5rem;
    font-size: 0.95rem;
}

.icon {
    color: #737373;
}

.highlightItem {
    border-color: #cbd5f5;
}

.highlightIcon {
    color: #475569;
}
