.sectionBlock {
    margin-bottom: 2rem;
    padding: 0;
}

@media (min-width: 640px) {
    .sectionBlock {
        padding: 0;
    }
}

.heading {
    font-size: 1.25rem;
    font-weight: 600;
    color: #171717;
    margin-bottom: 1.5rem;
}

.rulesGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.ruleItem {
    display: flex;
    align-items: flex-start;
    gap: 0.75rem;
    color: #334155;
    font-weight: 500;
}

.ruleIcon {
    /* color: #6b7c99; */
    color: #5cb85c;
    margin-top: 0.125rem;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.ruleContent {
    display: flex;
    flex-direction: column;
    gap: 0.15rem;
}

.ruleLabel {
    line-height: 1.2;
    font-size: 0.95rem;
    color: #334155;
}

.ruleValue {
    font-weight: 600;
    color: #334155;
    line-height: 1.2;
    font-size: 1.05rem;
}

.viewAllButton {
    color: #334155;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
    transition: color 0.2s ease;
    cursor: pointer;
}

/* .viewAllButton:hover {
    color: #5cb85c;
} */

.viewAllIcon {
    color: #6b7c99;
    width: 24px;
    height: 24px;
    display: block;
    flex-shrink: 0;
    margin-top: 0.125rem;
    transition: color 0.2s ease;
}

/* 
.viewAllButton:hover .viewAllIcon {
    color: #5cb85c;
} */