.section {
    width: 100vw;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
}

@media (min-width: 640px) {
    .section {
        padding: 0 1.5rem 1rem;
    }
}

@media (min-width: 1024px) {
    .section {
        padding: 0 2rem 1rem;
    }
}

.container {
    max-width: none;
    width: 100%;
    margin: 0;
}
