.section {
    padding: 0.5rem 1rem 1rem;
}

@media (min-width: 640px) {
    .section {
        padding: 0.5rem 1.5rem 1rem;
    }
}

@media (min-width: 1024px) {
    .section {
        padding: 0.5rem 2rem 1rem;
    }
}

.container {
    max-width: 80rem;
    margin: 0 auto;
}
